@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: #3E3E3E;
  background: #FFFFFF;
  width: 1024px;
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;

  .wrapper {
    display: flex;
    flex-direction: row;
  }

  .title {
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    color: #3E3E3E;
  }
}

.story {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 26px;

    .title {
      font-size: 36px;
      line-height: 20px;
      margin-bottom: 10px;
      /* identical to box height, or 56% */

      letter-spacing: 0.03em;

      color: #3E3E3E;
    }

    .sentence {
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 30px;
      /* or 125% */

      letter-spacing: 0.05em;

      color: #A9A9A9;
    }
  }
}

.products {
  margin-top: 100px;

  .title {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 20px;
    /* identical to box height, or 71% */
  }

  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .product {
      text-align: left;
      background-color: #fefefe;
      width: 320px;

      >div {
        margin-top: 12px;
      }

      >img {
        margin-top: 40px;
      }

      .name {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 20px;
      }

      .maker {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #A9A9A9;
      }

      .description {
        // todo
        // display: block;
        // height: 80px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #A9A9A9;
      }

      .price {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -0.05em;
        color: #A9A9A9;

        .label {
          letter-spacing: 0.1em;
        }
      }

      .stock {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #3E3E3E;
        margin-top: 10px;

        .label {
          font-size: 12px;
          line-height: 20px;
          color: #A9A9A9;
        }
      }

      .price-stock-wrapper {
        display: flex;
        flex-direction: column;
      }

      .sub-menu-wrapper,
      .button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}

.button {
  display: block;
  text-align: center;
  color: #FFFFFF;
  background: #3E3E3E;
  border-radius: 8px;
  padding: 0.1em;
  font-size: 28px;
  width: 88px;
  height: 44px;
  line-height: 44px;

}

.disable {
  background: #A9A9A9;
}

.ml {
  margin-right: 12px;
}
